automated-ip-reputation-checker/step-function.json
{
  "Comment": "Check IPs for malicious activity, log, and raise incident if needed",
  "StartAt": "ForEachIP",
  "States": {
    "ForEachIP": {
      "Type": "Map",
      "ItemsPath": "$.ip_list",
      "MaxConcurrency": 3,
      "Parameters": {
        "ip.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "CheckIPReputation",
        "States": {
          "CheckIPReputation": {
            "Type": "Task",
            "Resource": "", #your-lambda
            "ResultPath": "$.result",
            "Next": "IsMalicious"
          },
          "IsMalicious": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.result.malicious",
                "BooleanEquals": true,
                "Next": "LogMalicious"
              }
            ],
            "Default": "LogSafe"
          },
          "LogMalicious": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "xxx", #your-table-name
              "Item": {
                "IP": {
                  "S.$": "$.ip"
                },
                "AbuseScore": {
                  "N.$": "States.Format('{}', $.result.abuseScore)"
                },
                "Malicious": {
                  "BOOL": true
                }
              }
            },
            "ResultPath": "$.logResult",
            "Next": "StartIncident"
          },
          "StartIncident": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:ssmincidents:startIncident",
            "Parameters": {
              "ResponsePlanArn": "", #response-plan-arn
              "Title.$": "States.Format('Malicious IP Detected: {}', $.ip)",
              "Impact": 3
            },
            "End": true
          },
          "LogSafe": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "xxxx", #your-table-name
              "Item": {
                "IP": {
                  "S.$": "$.ip"
                },
                "AbuseScore": {
                  "N.$": "States.Format('{}', $.result.abuseScore)"
                },
                "Malicious": {
                  "BOOL": false
                }
              }
            },
            "End": true
          }
        }
      },
      "End": true
    }
  }
}
